@import "../../../styles/variable";

.button {
   width: 145px;
   line-height: 1.6;
   font-size: 1.2rem;
   margin: 5px;
   margin-top: 10px;
   border-radius: 5px;
   border: none;
   transition: 0.3s;
   box-shadow: 1px 4px 0px rgb(126, 96, 13);

   @media (max-width: 360px) {
      width: 120px;
   }
}

.button:hover {
   box-shadow: 1px 2px 0px rgb(126, 96, 13);
   transform: translateY(2px);
}

.green {
   background-color: $green-btn;
   color: white;

   &:hover {
      background-color: lighten($color: $green-btn, $amount: 7%);
   }
}

.brown {
   background-color: $brown-btn;
   color: white;

   &:hover {
      background-color: lighten($color: $brown-btn, $amount: 7%);
   }
}

.dark-blue {
   background-color: $dark-blue-btn;
   color: white;

   &:hover {
      background-color: lighten($color: $dark-blue-btn, $amount: 7%);
   }
}

.red {
   background-color: $red-btn;
   color: white;

   &:hover {
      background-color: lighten($color: $red-btn, $amount: 7%);
   }
}