@import "../../../styles/variable.scss";

.input {
   width: 100%;
   background: #e9c38b;
   height: 1.4rem;
   line-height: 1.5;
   font-size: 1.0rem;
   border-radius: 2px;
   padding: 0px 5px;
   padding-top: 3px;
   border: none;
   appearance: none;
   outline: none;
   box-shadow: 0px 1px 0px grey;
   text-align: center;

   &:hover, &:focus {
      box-shadow: 0px 2px 0px $green-btn;
   }
}

.authInput {
   width: 100%;
   background: rgb(68, 68, 67);
   height: 1.8rem;
   line-height: 1.6;
   font-size: 1.2rem;
   border-radius: 3px;
   padding: 1px 5px;
   padding-top: 3px;
   color: #fff;
   border: 1px solid #fff;
   appearance: none;
   outline: none;
   text-align: center;

   &:hover, &:focus {
      border: 2px solid rgb(36, 173, 236);
   }
}

.errors {
   color: red;
}

.checbox {
   width: 100%;
   height: 1.5rem;
   line-height: 1.5;
   font-size: 1.0rem;
   border-radius: 5px;
   padding: 0px 5px;
   border: 1px solid grey;
   color: #000;
}

.editableInput {
   width: 100%;
   height: 100%;
   margin: 0px;
   border: none;
   line-height: 1;
   background-color: #fff;
   padding-right: 5px;
   padding-left: 5px;
}

// label {
//    position: relative;
// }

.label {
   padding-top: 3px;
   text-align: left;
   
   font-size: 0.85rem;
   text-decoration: underline;
   
   // position: relative;
}

.grey {
   color: rgb(78, 78, 78);
   text-decoration-color: grey;
}

.white {
   color: rgb(214, 214, 214);
   text-decoration-color: rgb(224, 224, 224);
}

.circleQuestion {
   flex-shrink: 0;
   transition: 2.3s;
}
