$light-color: #F7F4E9;
$dark-color: #1D1D2C;

$dark-border-color: #1D1D2C;
$light-border-color: #F7F4E9;

$header-bg: #438945;
$input-bg: #EBA63F;
$furniture-bg: #3CBCC3;
$detailing-bg: #1D1D2C;
$detailing-shadow: rgb(6, 137, 155);
$specification-bg: #205022;
$specification-shadow: #41af45;
$settings-bg: #7b001f;

$green-btn: #205022;
$brown-btn: #633808;
$red-btn: #7b001f;
$dark-blue-btn: #1D1D2C;