@import "../../styles/variable.scss";

.content {
	background-color: transparent;
   height: 100%;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   // transform: translate(-50%, -50%);
}

.container {
   margin: 0 auto;
   height: 100%;
   width: 80%;
   // background-color: green;
}

.authForm {
   position: relative;
   min-height: 100px;
   width: 35%;
   background: linear-gradient(-30deg, rgb(68, 68, 67), 45%, rgb(88, 88, 87), 55%, rgb(68, 68, 67));
   border-radius: 3px;
   box-shadow: 5px 5px 8px #000;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px 20px;

   @media (max-width: 1279px) {
      width: 40%;
   }

   @media (max-width: 1059px) {
      width: 52%;
   }

   @media (max-width: 767px) {
      width: 72%;
   }

   @media (max-width: 599px) {
      width: 90%;
   }

   @media (max-width: 479px) {
      width: 98%;
   }

   span {
      color: rgb(190, 188, 188);
   }

   .linkSpan {
      color: $light-color;
      cursor: pointer;
      padding-top: 10px;
   }
}

.input {
   width: 80%;
}

.error {
   color: red;
}